Hey Ellen,

We just launched a new app for aircrat brokers and would love for you to check it out. If you're intersted, read more at <a href="<%= root_url %>i/<%= @user.token %>">jetdeck.co</a>. Thanks

<img src="<%= root_url %>et/<%= @user.token %>" />