
var features = ['retail', 'stats', 'deck', 'spec'];
var currentFeature = 0;
var featureRotateTime = 5500;
var featureTimeout = setTimeout('imageRotate()', featureRotateTime);

$(function() { 

  // show first image
  imageRotate(); 

  // setup buttons
  $("#invite-cta").click(showInviteRequestField);
  $("#invite-submit").click(showInviteSurvey);
  $(".signup-survey button").click(showInviteConfirmation);

  // mailcheck
  $("input[name='email']").on('blur', function() {
    $(this).mailcheck({
    
      topLevelDomains: ["com", "net", "org", "aero"],

      // when there is a suggestion...
      suggested: function(element, suggestion) {
      
        // if entry is available and passes simple regex
        if (validated()) {
        
          // show suggestions
          var suggestion_msg;
          suggestion_msg = "Did you mean ";
          suggestion_msg += "<a href='#' id='mailcheck-suggestion'>" + suggestion.full + "</a>?";

          $("#send-error").removeClass("error");
          $("#send-error").html(suggestion_msg);
          $("#send-error").slideDown(200);          
        
        }
        
      }
      
    });
    
  });

  // handle mailcheck suggestion link click
  $("body").on("click", "#mailcheck-suggestion", function() {
     
      // set the email field to the suggestion
      var suggestion = $(this).html();
      $("input[name='email']").val(suggestion);
    
      // hide suggestion message
      $("#send-error").slideUp(200);

  });  
  
});


function showInviteConfirmation() {

  $(".signup-survey").fadeOut(200, function(){
    $(".signup-confirmation").fadeIn(300);
  });

  $("#hero-headline").fadeOut(200, function(){
    $("#hero-headline h1").html("Thanks!");
    $("#hero-headline").fadeIn(300);
  });    

}

function showInviteSurvey() {

  if (validated()) {

    $(".signup-form").fadeOut(200, function(){
      $(".signup-survey").fadeIn(300);
    });

    $("#hero-headline").fadeOut(200, function(){
      $("#hero-headline h1").html("You're on the List!");
      $("#hero-headline").fadeIn(300);
    });      

  } else {

    $("#send-error").addClass("error");
    $("#send-error").html("Sorry, we can't send to the address you entered.");
    $("#send-error").slideDown(200);

  }

}

function showInviteRequestField() {

  $(".signup-intro").fadeOut(200, function(){
    $(".signup-form").fadeIn(300);
  });

  $("#hero-headline").fadeOut(200, function(){
    $("#hero-headline h1").html("Signup for an invite and be the first to try JetDeck");
    $("#hero-headline").fadeIn(300);
  });    

}

function validated() {

  var email = $("input[name='email']").val();

  if (email == "") return false;

  var re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;   

  return re.test(email);

}

function imageRotate() {

  clearTimeout(featureTimeout);

  currentFeature = (currentFeature == (features.length - 1)) ? 0 : currentFeature + 1;

  $("#browser-chrome").after("<img class='rotate' src='assets/rotator/" + features[currentFeature] + ".png' style='display: none; position:absolute'>");
  $(".rotate:last").fadeOut('slow', function() { $(this).remove(); });
  $(".rotate:first").fadeIn('slow');

  featureTimeout = setTimeout('imageRotate()', featureRotateTime);

}