html {
	margin: 0;
}
body {
	position: relative;
	background: #ECF0F1;
	-webkit-font-smoothing: antialiased;
	font-family: 'Lato', sans-serif !important;
	padding-top: 107px;
}
a:hover {
	text-decoration: none;
}
input[type="text"], 
input[type="password"], 
input[type="submit"],
textarea {
	font-family: 'Lato', Helvetica;
}


/* Footer
-------------------------------------------------- */
#footer {
	min-height: 260px;
	margin-top: 140px;
	background-color: #252528;
	color: #fff;
	padding-top: 35px;
}
#footer .footer_header {
	color: rgb(196, 196, 196);
	font-style: italic;
	font-weight: 300;
	font-size: 25px;
	margin-bottom: 40px;
	margin-left: 15px; 
}

/* recent posts */
#footer .recent_posts {
	margin-left: 0px;
}
#footer .recent_posts .post {
	margin-bottom: 70px;
	width: 93%;
}
#footer .recent_posts .post img {
	float: left;
	margin-right: 20px;
}
#footer .recent_posts .post .date {
	font-weight: bold;
	font-style: italic;
}
#footer .recent_posts .post .title {
	display: block;
	color: #b5b5b6;
	font-size: 14px;
}

/* testimonials */
#footer .testimonials .wrapper {
	margin: 0 auto;
	width: 82%;
}
#footer .testimonials .footer_header {
	margin-left: 30px;
}
#footer .testimonials .quote {
	color: rgb(191, 191, 192);
}
#footer .testimonials .quote span {
	font-size: 32px;
	font-style: italic;
	position: relative;
	top: 5px;
	font-family: Georgia !important;
	float: left;
	margin-right: 8px;
}
#footer .testimonials .author {
	margin-top: 40px;
}
#footer .testimonials .author img {
	float: left;
	margin-right: 15px;
	position: relative;
	top: -6px;
}
#footer .testimonials .name {
	font-size: 13px;
	font-weight: bold;
}
#footer .testimonials .info {
	font-style: italic;
	color: #ccc;
}

/* contact */
#footer .contact {
	text-align: right;
	margin-left: 35px;
}
#footer .contact .footer_header {
	text-align: left;
	margin-left: 35px;
}
#footer .contact input[type="text"],
#footer .contact textarea {
	border: none;
	background-color: #1f1f21;
	padding: 8px 20px;
	border-radius: 3px;
	font-size: 14px;
	font-family: Lato !important;
	width: 80%;
	-webkit-transition: background-color .2s linear;
	-moz-transition: background-color .2s linear;
}
#footer .contact input[type="text"]:focus,
#footer .contact textarea:focus {
	border: none;
	box-shadow: none;
	background-color: #000;
}
#footer .contact input[type="text"]:-moz-placeholder,
#footer .contact textarea:-moz-placeholder {
  color: #868687;
}
#footer .contact input[type="text"]::-webkit-input-placeholder,
#footer .contact textarea::-webkit-input-placeholder {
  color: #868687;
}
#footer .contact input[type="text"]:-ms-input-placeholder,
#footer .contact textarea:-ms-input-placeholder {
  color: #868687;
}
#footer .contact input[type="submit"] {
	background-color: #3e3e40;
	border: none;
	color: #fff;
	border-radius: 4px;
	padding: 5px 20px;
	font-size: 14px;
	font-weight: bold;
	-webkit-transition: background-color .2s linear;
	-moz-transition: background-color .2s linear;
}
#footer .contact input[type="submit"]:hover {
	background-color:#2190DB;
}
#footer .credits {
	border-top: 1px solid #343437;
	padding: 10px 0px 60px 0px;
}
#footer .credits .social {
	margin-top: 30px;
	text-align: center;
}
#footer .credits .social a {
	margin: 10px;
}
#footer .credits .copyright {
	color: #a6a6a7;
	font-style: italic;
	text-align: center;
	margin-top: 30px;
}
#footer .credits .social a {
	margin: 10px;
}
#footer .credits .social a span{
	display: inline-block;
	width: 33px;
	height: 33px;
}
#footer .credits .social span.ico1,
#footer .credits .social span.ico1h{
	background-position: 0px 0px;
}
#footer .credits .social span.ico2,
#footer .credits .social span.ico2h{
	background-position: -37px 0px;
}
#footer .credits .social span.ico3,
#footer .credits .social span.ico3h{
	background-position: -75px 0px;
}
#footer .credits .social span.ico4,
#footer .credits .social span.ico4h{
	background-position: -112px -1px;
}
#footer .credits .social span.ico5,
#footer .credits .social span.ico5h{
	background-position: -151px 0px;
}
#footer .credits .social span.ico6,
#footer .credits .social span.ico6h{
	background-position: -188px -1px;
}
#footer .credits .social span.ico7,
#footer .credits .social span.ico7h{
	background-position: -226px 0px;
}
#footer .credits .social a:hover span.socialicons{
	display: none;
}
#footer .credits .social a:hover span.socialicons_h{
	display: inline-block !important;
}
#footer .credits .social span.socialicons_h{
	display: none;
}
.socialicons{
	background: url('../images/socialicons.png') no-repeat;
	width: 265px;
	height: 36px;
}
.socialicons_h{
	background: url('../images/socialicons_h.png') no-repeat;
	width: 265px;
	height: 36px;
}

/*Inner Footer*/
#footer .info{
	margin-bottom: 10px;
	margin-left: 0;
}
#footer .info .residence{
	margin-left: 0;
}
#footer .info ul{
	margin: 0;
	padding: 0;
}
#footer .info ul li{
	list-style: none;
	font-size: 16px;
	color: #777E83;
	line-height: 23px;
}
#footer .info ul a{
	color: #777E83;
	-webkit-transition: color .2s;
	-moz-transition: color .2s;
	-ms-transition: color .2s;
	transition: color .2s;
}
#footer .info ul a:hover{
	color: #A9B4BB;
}
#footer .info .touch{
	float: right;
}
#footer .info .touch ul li{
	display: inline-block;
	margin-left: 30px;
}

/* Global
-------------------------------------------------- */
.page_header {
	background-color: #000;
	color: #fff;
	font-size: 23px;
	display: inline-block;
	padding: 0px 18px;
}
.social_icon{
	background: url("../images/social_icons.png") no-repeat;
	width: 110px;
	height: 18px;
}
.contact_social{
	background: url("../images/contact_social.png") no-repeat;
	width: 180px;
	height: 34px;
}


/* Showcase services
-------------------------------------------------- */
#showcase {
    margin-top: 70px;
}
#showcase .container {
    /*width: 980px;*/
}


/* Features
-------------------------------------------------- */
#features {
    margin-top: 70px;
    margin-bottom: -20px;
}
#features .feature {
    border-bottom: 1px solid #e0e0e0;
    margin-bottom: 65px;
}
#features .feature .info h3 {
    font-size: 21px;
    margin-top: 35px;
}
#features .feature.ss h3 {
    margin-top: 45px;
}
#features .feature .info h3 img {
    margin-right: 18px;
    position: relative;
    top: -10px;
}
#features .feature .info p {
    margin-top: 15px;
}

/* Pricing charts
-------------------------------------------------- */

#in_pricing{
    margin-top: 30px;
    margin-bottom: 100px;
}
#in_pricing .head h6{
    font-size: 18px;
    margin: 0;
    color: #8E8E8F;
    font-weight: normal;
}
#in_pricing .charts_wrapp{
    margin-left: -20px;
    margin-bottom: 40px;
}
#in_pricing .charts_wrapp .plan{
    border-radius: 6px;
    box-shadow: 2px 2px 2px -1px rgb(214, 214, 214);
    background-color: #fff;
    width: 95%;
    position: relative;
}
#in_pricing .plan .wrapper{
    padding: 33px 30px 26px 30px;
}
#in_pricing .plan h3{
    color: rgb(83, 83, 83);
    font-weight: normal;
    font-style: italic;
    font-size: 28px;
    margin: 0 0 5px 0;
    line-height: 25px;
}
#in_pricing .plan .price{
    font-size: 17px;
    color: #1189D9;
    margin-top: 16px;
}
#in_pricing .plan .price span.dollar{
    font-size: 32px;
    position: relative;
    top: -6px;
    margin-right: 3px;
}
#in_pricing .plan .price span.qty{
    font-size: 47px;
    margin-right:4px;
    position: relative;
    top: 2px;
}
#in_pricing .plan .price span.month{
    font-style: italic;
    font-weight: 300;
    font-size: 15px;
}
#in_pricing .plan .features{
    margin-top: 30px;
}
#in_pricing .plan .features p{
    color: #838385;
    margin-bottom: 5px;
    font-size: 14px;
}
#in_pricing .plan a.order{
    background-color: #2190DB;
    text-align: center;
    margin: 25px auto 0;
    width: 48%;
    display: block;
    padding: 3px 0;
    color: #fff;
    font-size: 13px;
    font-weight: bold;
    border-radius: 5px;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
}
#in_pricing .plan a.order:hover,
#in_pricing2 .plan a.order:hover{
    background: #252528;
}
#in_pricing .pro .plan{
    width: 100%;
    top: -20px;
    box-shadow: 0px 0px 7px -1px rgb(214, 214, 214);
    border: 1px solid #d9d9d9;
}
#in_pricing .pro .plan .wrapper{
    padding:36px 30px 35px 30px;
}
#in_pricing .pro .plan img.ribbon{
    position: absolute;
    top: 0;
    right: 0;
}
#in_pricing .pro .plan  a.order{
    margin-top: 35px;
}
#in_pricing .standar .plan{
    float: right;
}
#in_pricing .start{
    width: 100%;
    text-align: center;
}
#in_pricing .start p{
    font-size: 24px;
    display: inline-block;
    color: #5B5B5D;
    font-style: italic;
    line-height: 26px;
    margin: 0 18px 0 0;
}
#in_pricing .start a{
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    border-radius: 4px;
    padding: 7px 17px;
    font-size: 17px;
    background: #252528;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
}
#in_pricing .start a:hover{
    background: #2190DB;
}



/* Responsive
-------------------------------------------------- */

/* Large desktop */
@media (min-width: 1200px) {

}
@media (min-width: 980px) {
    
}
