<div class="row-fluid">

  <div class="span12 nav-logo">

      
      <div class="span6 logo-span">
        <a href="/" alt="JetDeck For Aircraft Brokers">
          <img class="logo" src="<%= asset_path "logo_black.png" %>" 
          alt="JetDeck For Aircraft Brokers"/>
        </a>
      </div>
      
      <div class="span6 buttons-span">
        
        <div class="btn-group pull-right nav-buttons" style="margin-bottom: 0px;">

          <a href="https://twitter.com/intent/tweet?screen_name=SellMoreJets&text=Finally%2C%20I%20can%20see%20who%20is%20watching%20my%20aircraft%20inventory%20in%20real%20time!" class="twitter-mention-button" data-size="large" data-related="SellMoreJets">Tweet to @SellMoreJets</a> 

        </div>
        
        <div class="mobile-buttons nav-buttons hide">
          <br>
          <a class="btn btn" href="mailto:customer.support@jetdeck.co">Contact</a>
          <a class="btn btn" href="/features">Features</a>
        </div>
        
        <h3 class="pull-right login" style="margin-top: -3px;">
          Already a member? 
          <a href="http://app.jetdeck.co">Log In</a>
        </h3>            
        
      </div>

  </div>
</div> 