<div class="row-fluid">
  <div class="span1 nav-logo"></div>
  <div class="span10 nav-logo">
    <div class="row">
      
      <div class="span6 logo-span">
        <a href="/" alt="JetDeck For Aircraft Brokers">
          <img class="logo" src="<%= asset_path "logo_black.png" %>" 
          alt="JetDeck For Aircraft Brokers"/>
        </a>
      </div>
      
      <div class="span6 buttons-span">
        
        <div class="btn-group pull-right nav-buttons">
          <a class="btn btn" href="#">Get in Touch</a>
          <a class="btn btn" href="#">Share</a>
          <a class="btn btn" href="#">Features</a>
        </div>
        
        <div class="mobile-buttons nav-buttons hide">
          <br>
          <a class="btn btn" href="#">Get in Touch</a>
          <a class="btn btn" href="#">Share</a>
          <a class="btn btn" href="#">Features</a>
          
        </div>
        
        <h3 class="pull-right login">
          Already a member? 
          <a href="http://app.jetdeck.co">Log In</a>
        </h3>            
        
      </div>
    </div>
  </div>
</div> 