<!DOCTYPE html>
<!--[if IE 6]>
<html id="ie6">
<![endif]-->
<!--[if IE 7]>
<html id="ie7">
<![endif]-->
<!--[if IE 8]>
<html id="ie8">
<![endif]-->
<!--[if !(IE 6) | !(IE 7) | !(IE 8)  ]><!-->
<html>
<!--<![endif]-->
<head>

    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>

    <meta charset="" />
    <meta name="description" content="An Aircraft Brokerage Tool for Professionals. Trading Jets Made Simple" />
    <meta name="keywords" content="brokerage, aircraft, jet, planefax, sale, controller, trade-a-plane" />

    <link rel="shortcut icon" href="/assets/favicon.png" type="image/x-icon" />

    <title>JetDeck.co | Aircraft Broker Tools </title>

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,300' rel='stylesheet' type='text/css'>

</head>

<body style="padding: 0">

    <div class="sweatband"></div>

    <div style="background: url(/assets/blurred_bg.jpg) no-repeat scroll center top transparent;">

      
      <div class="container">

      <!-- NAVIGATION -->
      <div class="row">
        <div class="span12">

            <div style="padding: 80px 0 100px;">
            <div style="float: left; height: 5px;"><a href="http://www.jetdeck.co"><img src="/assets/logo.png"></a></div>

            <div class="header-right">
                <ul id="nav" class="menu">
                    <li class="menu-item">
                        <a href="#features">Features</a>
                    </li>
                    <li class="menu-item">
                        <a href="#pricing">Pricing</a>
                    </li>
                    <!--<li class="menu-item">
                        <a href="http://blog.jetdeck.co/">Blog</a>
                    </li>-->
                </ul>

                <a class="button btn-active" href="https://jetdeck-staging.herokuapp.com/signup">
                    <span>Free Trial</span></a> 
                <a class="button btn-grey-sm" href="https://jetdeck-staging.herokuapp.com/login">
                    <span>Login</span></a>

            </div>
            </div>

        </div>
      </div>

      <!-- HERO UNIT -->
      <div class="row" style="margin-top: 30px; ">

        <!-- HERO TEXT -->
        <div class="span4">
          <div class="description">
            <h2>Does your contact manager know what an aircraft is?</h2>
            <p style="font-weight: 100">JetDeck links contacts with aircraft so you can focus on selling more jets instead of managing data.</p>
            <div style="width: 100%; text-align: center;">
                <a class="btn-trial" href="https://jetdeck-staging.herokuapp.com/signup"><span>Start a free trial</span></a>
            </div>
            <div style="font-size: 12px; color: #7F8C8D; width: 100%; text-align: center;">No Credit Card Required</div>
          </div>
        </div>

        <div class="span8">
          <!-- HERO SHOT -->
          <img src="/assets/hero.png" style="margin-top: 40px; width: 90%; float: right;" alt="">
        </div>
      </div>

      </div>
    </div>

    <!-- 3 up showcase -->
    <div id="showcase">
        <div class="container">    
        <div class="row-fluid">
            <!-- Features Row -->
            <div class="features_op1_row">
                <!-- Feature -->
                <div class="span4 feature first" style="text-align: center;">
                    <img style="height: 100px;" src="/assets/icon-cloud.png">
                    <div class="text" style="width: 70%; margin: 0px auto;">
                        <h4>1. Import Specs</h4>
                        <br>
                        <p>
                            Upload aircraft specs or logbook scans and import images from popular listing websites.
                        </p>
                    </div>
                </div>
                <!-- Feature -->
                <div class="span4 feature " style="text-align: center;">
                    <img style="height: 100px;" src="/assets/icon-email.png">
                    <div class="text" style="width: 70%; margin: 0px auto;">
                        <h4>2. Send Safely</h4>
                        <br>
                        <p>
                            Send large spec files and images as links, so you can be sure they are received by customers.
                        </p>
                    </div>
                </div>                    

                <!-- Feature -->
                <div class="span4 feature last" style="text-align: center;">
                    <img style="height: 100px;" src="/assets/icon-measure.png">
                    <div class="text" style="width: 70%; margin: 0px auto;">
                        <h4>3. Measure and Improve</h4>
                        <br>
                        <p>
                            Track viewing activity from each aircraft customer to tune your message and keep deals moving.
                        </p>
                    </div>
                </div>                         

            </div>
        </div>
        </div>
    </div>

    <!-- features -->
    <a name="features"></a> 
    <div id="features">
        <div class="container">
            <div class="section_header">
                <h3></h3>
            </div>
            <div class="row feature">
                <div class="span6">
                    <img src="/assets/showcase_email.png">
                </div>
                <div class="span6 info">
                    <h3>
                        <i style="color: rgb(46, 92, 177)" class="icon-large icon-briefcase"></i> &nbsp;&nbsp;
                        Send Huge Files. Gracefully.
                    </h3>
                    <p>
                        JetDeck makes it easy to email large images, specs, logbook scans or any other supporting documents. Rather than sending several large files as attachments, we'll send your customers a link to see the files, securely, in the cloud. This means you will also be able to track who has viewed the material, helping to direct your follow up calls.
                    </p>
                </div>
            </div>
            <div class="hide row feature ss">
                <div class="span6 info">
                    <h3>
                        <i style="color: rgb(46, 92, 177)" class="icon-large icon-plane"></i> &nbsp;&nbsp;
                        Keep Deals Moving, On The Move.
                    </h3>
                    <p>
                        By storing your aircraft data in the JetDeck cloud, you will be able to stay more organized, work faster and respond to interested parties on the go. At lunch, on the road or on the tarmac, JetDeck makes it easy to keep the sale process moving forward at all times. 
                    </p>
                </div>
                <div class="span6">
                    <img src="/assets/shot.png" class="pull-right">
                </div>
            </div>
            <div class="hide row feature ss">
                <div class="span6">
                    <img src="/assets/showcase2.png">
                </div>
                <div class="span6 info">
                    <h3>
                        <i style="color: rgb(46, 92, 177)" class="icon-large icon-signal"></i> &nbsp;&nbsp;
                        Track Lead Activity.
                    </h3>
                    <p>
                        Are your customers getting your messages? Or are they just not interested? JetDeck gives you real-time delivery status information on each spec so you can make sure buyers are viewing your information and then react to their needs faster.
                    </p>
                </div>
            </div>
            <div class="row feature ss">
                <div class="span6 info">
                    <h3>
                        <i style="color: rgb(46, 92, 177)" class="icon-large icon-tablet"></i> <i style="color: rgb(46, 92, 177)" class="icon-large icon-mobile-phone"></i> &nbsp;&nbsp; 
                        Optimized For Today's Mobile Customers.
                    </h3>
                    <p>
                        Opening a bunch of aircraft image attachments on a tiny screen is an experience that can be improved. JetDeck creates an 'image wall' that your customers can easily navigate to see every detail of the aircraft.
                    </p>
                </div>
                <div class="span6">
                    <img src="/assets/showcase1.png" class="pull-right">
                </div>
            </div>
            <div class="row feature ss">
                <div class="span6">
                    <img style="margin-left: 40px; margin-bottom: 20px" src="/assets/cloud-security.png">
                </div>
                <div class="span6 info">
                    <h3>
                        <i style="color: rgb(46, 92, 177)" class="icon-large icon-plane"></i> &nbsp;&nbsp;
                        Secure In the Cloud.
                    </h3>
                    <p>
                        Now it's easy to keeping track of all deal information in one place and access it anywhere, securely. JetDeck will keep you organized with always available, heads up information.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <!-- Pricing Option -->
    <a name="pricing"></a> 
    <h2><br></h2>
    <div id="in_pricing">
        <div class="container">
            <div class="section_header">
                <h3>Simple Pricing</h3>
                <h4><br></h4>
            </div>

            <div class="row-fluid charts_wrapp">
                <!-- Plan Box -->
                <div class="span4">
                    <div class="plan">
                        <div class="wrapper">
                            <h3>14-Day Trial</h3>
                            <div class="price">
                                <span class="dollar"></span> 
                                <span class="qty">Free</span> 
                                <span class="month"></span>
                            </div>
                            <div class="features">
                                <p>
                                    <strong>Unlimited</strong>
                                    Spec & Image File Size
                                </p>
                                <p>
                                    <strong>Unlimited</strong>
                                    Contacts
                                </p>
                                <p>
                                    <strong>Unlimited</strong>
                                    Email Traffic
                                </p>
                                <p>
                                    <strong>Five (5)</strong>
                                    Aircraft
                                </p>
                                <p>
                                    <strong>1GB</strong>
                                    Total Storage
                                </p>
                                <a class="order" href="https://jetdeck-staging.herokuapp.com/signup">SIGNUP NOW</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Plan Box -->
                <div class="span4 pro">
                    <div class="plan">
                        <div class="wrapper">
                            <img class="ribbon" src="/assets/badge.png">
                            <h3>Pro</h3>
                            <div class="price">
                                <span class="dollar">$</span> 
                                <span class="qty">39</span> 
                                <span class="month">/month</span>
                            </div>
                            <div class="features">
                                <p>
                                    <strong>Unlimited</strong>
                                    Spec & Image File Size
                                </p>
                                <p>
                                    <strong>Unlimited</strong>
                                     Contacts
                                </p>                              
                                <p>
                                    <strong>Unlimited</strong>
                                    Email Traffic
                                </p>
                                <p style="font-size: 130%; margin-top: 15px">
                                    <strong style="color: #1189D9">Unlimited</strong>
                                     Aircraft
                                </p>
                                <p style="font-size: 130%; margin-top: 15px">
                                    <strong style="color: #1189D9">30GB </strong>
                                    Total Storage
                                </p>
                                <a class="order" href="https://jetdeck-staging.herokuapp.com/signup">SIGNUP NOW</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Plan Box -->
                <div class="span4 standar">
                    <div class="plan">
                        <div class="wrapper">
                            <h3>Standard</h3>
                            <div class="price">
                                <span class="dollar">$</span> 
                                <span class="qty">25</span> 
                                <span class="month">/month</span>
                            </div>
                            <div class="features">
                                <p>
                                    <strong>Unlimited</strong>
                                    Spec & Image File Size
                                </p>
                                <p>
                                    <strong>Unlimited</strong>
                                    Contacts
                                </p>
                                <p>
                                    <strong>Unlimited</strong>
                                    Email Traffic
                                </p>
                                <p>
                                    <strong>Twenty (20)</strong>
                                    Aircraft
                                </p>
                                <p>
                                    <strong>10GB</strong>
                                     Total Storage
                                </p>
                                <a class="order" href="https://jetdeck-staging.herokuapp.com/signup">SIGNUP NOW</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="start">
                <p>Start your free, no-risk, 14 day trial! </p>
                <a href="https://jetdeck-staging.herokuapp.com/signup">Start Now!</a>
            </div>
        </div>
    </div>

    <!-- starts footer -->
    <footer id="footer">
        <div class="container">
            <div class="row-fluid">
            <div class="span6 text-left">
              <a href="https://twitter.com/intent/tweet?screen_name=SellMoreJets&text=Finally%2C%20I%20can%20see%20who%20is%20watching%20my%20aircraft%20inventory%20in%20real%20time!" class="twitter-mention-button" data-size="large" data-related="SellMoreJets">Talk About JetDeck!</a> 
            </div>
            <div class="span6 text-right">
                © 2013 JetDeck Services, LLC. Scottsdale, AZ.
                <ul class="inline muted">
                <li><a href="/priv">Privacy Policy</a></li>
                <li><a href="/tos">Terms of Service</a></li>
                </ul>
            </div>        
            </div>                      
        </div>
    </footer>

</body>

</html>